{% extends merchant_base %}

{%block title%}Cart{% endblock%}

{%block inner_head%}
<script>
function show_form(){
$('.stage1').hide();
$('#buybutton').hide();
$('.stage2').show();
}
</script>
<script>
function cart_clear(){
window.location = '{% url 'store.views.clearcart' %}'
}
</script>
<script>
function createshow(){
$('#createshow').hide();
$('#createform').show();
}

function loginshow(){
$('#loginshow').hide();
$('#loginform').show();
}
</script>

{% endblock %}



{%block inner_body%}
		{% for item in items %}
		<div class="stage1">
		<h2>{{item.name}}</h2>
		<img src="{{item.picture.url}}" style="height:400px; width:400px"><br/>
		<h3>Price : ${{item.price}}

		</div>
		{% endfor %}
		<hr />
		<div >
			<h3>Subtotal: ${{base_price}}</h3>
			<h3>Shipping: ${{shipping}}</h3>
			<h3>Total: ${{total}}</h3>
		</div>
		<div>
		<button id="buybutton" onclick="show_form()">Buy Now</button> <button onclick="cart_clear()">Clear Cart</button>
		</div>
		<div class="stage2" style="display:none">
		<h3>Login</h3>
			<button type="button" id="loginshow" onclick="loginshow()">Click Here</button>
			<form id="loginform" style="display:none" method="post" action="{% url 'store.views.shoppingcart' %}">
				{% csrf_token %}
				<input type="hidden" name="post_method" value="login">
				Username:<input name="username" type="text"><br />
				Password:<input name="ps" type="password"><br />
				<input  type="submit" value="submit">
			</form>
		<h3> or create an account </h3>
			<button type="button" id="createshow" onclick="createshow()">Click Here</button>
			<form method="post" id="createform" style="display:none" action="{% url 'store.views.shoppingcart' %}">
				{% csrf_token %}
				<input type="hidden" name="post_method" value="create">
				Please choose a: <br />
				Username:<input name="username" type="text"><br />
				Password:<input name="ps" type="password"><br />
				<hr/>
				Now enter your shipping details: (all fields are required)<br/>
				Name:<input name="name" type="text"><br />
				Address:<input name="address" type="text"><br />
				City:<input name="city" type="text"><br />
				State:<input name="state" type="text"><br />
				Zip:<input name="zip_code" type="text"><br />
				Phone:<input name="phone" type="text"><br />
				Email:<input name="email" type="text"><br />
				<input  type="submit" value="submit">
			</form>
		</div>

{%endblock %}
