{% extends merchant_base %}

{%block title%}Final Purchase{% endblock%}



{%block inner_body%}
	<h2>Shipping Information:</h2>
	<h4>Name:{{buyer.name}}</h4>
	<h4>Address:{{buyer.address}}</h4>
	<h4>City:{{buyer.city}}</h4>
	<h4>State:{{buyer.state}}</h4>
	<h4>Zip:{{buyer.zip_code}}</h4>
	<h4>Email:{{buyer.email}}</h4>
	<h4>Phone:{{buyer.phone}}</h4>
	<hr />
	<h2>Order Total: {{order.total}}</h2>
	<br />
	<h1><a href="{% url 'store.views.purchased' %}">Buy</a> <a href="{% url 'store.views.clearcart' %}">Cancel</a></h1>
	
{%endblock %}
