{% extends merchant_base %}

{%block title%}Item Details{% endblock%}

{%block inner_head%}
<script>
function addcart(x){
$.get('{%url "store.views.ajaxadd"%}',{item_pk:x}, function(data){alert(data[0])})
}
</script>


{% endblock %}

{%block inner_body%}
		<div>
		<h2>{{item.name}}</h2>
		<img src="{{item.picture.url}}" style="height:400px; width:400px"><br/>
		<p>{{item.description}}</p>
		<h3>Price : ${{item.price}}
		<button type="button" onclick="addcart({{item.pk}})">Add to cart</button>

		</div>

{%endblock %}
